.container-wrap {
  background-color: black;
}
.heading-section p {
  color: gray;
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}
.col-md-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
